# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Build output
# (for extension and any future packages)
dist/
build/
out/
*.bundle.js
*.map
*.tsbuildinfo

# Extension packaged files
*.zip

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Task files
tasks.json
tasks/

# Python cache and bytecode
__pycache__/
*.pyc 